<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black h-screen flex flex-col items-center justify-center">
    <div class="w-full max-w-xs px-6">
      <div class="mb-10 flex flex-col items-center">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png"
          alt="Spotify Logo"
          class="w-20 h-20"
        />
        <h1 class="text-4xl text-white font-bold mt-2">Spotify</h1>
      </div>
      {% for message in messages %}
      <div
        id="alert"
        class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
        role="alert"
      >
        <svg
          class="flex-shrink-0 w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">{{ message }}</div>
        <button
          type="button"
          class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"
          aria-label="Close"
        >
          <span class="sr-only">Close</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
      {% endfor %}
      <form class="bg-black" method="POST" action="">
        {% csrf_token %}
        <div class="mb-4">
          <input
            class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal"
            type="text"
            name="username"
            id="username"
            placeholder="Username"
          />
        </div>
        <div class="mb-6">
          <input
            class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
        </div>
        <button
          class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded w-full mb-4"
        >
          Sign In
        </button>
        <p class="text-center text-gray-400 text-xs">
          Don't have an account?<a href="signup" class="text-green-500"> Sign up</a>
        </p>
      </form>
      <p class="text-center text-gray-500 text-xs mt-4">&copy; Spotify</p>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Get all alert elements
        var alerts = document.querySelectorAll("#alert");

        // Add click event listener to each close button
        alerts.forEach(function (alert) {
          var closeButton = alert.querySelector('[aria-label="Close"]');

          closeButton.addEventListener("click", function () {
            // Remove the alert element
            alert.remove();
          });

          // Automatically remove the success message after 5 seconds
          if (alert.classList.contains("bg-green-50")) {
            setTimeout(function () {
              alert.remove();
            }, 5000);
          }
        });
      });
    </script>
  </body>
</html>
